* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

form {
    background-color: #c8c8c8;
    padding: 24px 0;
    text-align: center;
}

form h1 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

form ul {
    padding: 16px;
    display: inline;
    flex-wrap: wrap;
}

form ul li {
    max-width: 100%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
    align-items: center;
    margin-bottom: 8px; 
}

.riscado {
    text-decoration: line-through;
}

form ul li::before {
    content: "\2022"; 
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}